body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #e5e0e0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    padding-left: 5%;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

nav {
    text-align: right;
    padding-right: 5%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-top: 0px; /* Ajusta el espacio superior para que no esté oculto por el encabezado */
}

.section {
    height: 100vh; /* Establece la altura de cada sección al 100% del viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c3c2c2;
    font-size: 24px;
    text-align: center;
}

#section1 {
    background-image: url('../img/fondo-seccion1.jpg');
    background-size: cover;
    background-position: center;
}

#section2 {
    height: 300px;
    background-image: url('../img/fondo-seccion2.jpg');
    background-size: cover;
    background-position: center;
    display: block; /* Cambia la visualización a bloque para que ocupen toda la anchura disponible */
    padding-top: 100px;
    padding-left: 50%;
    padding-right: 5%;
}

#section3 {
    height: 650px;
    background-image: url('../img/fondo-seccion3.jpg');
    background-size: cover;
    background-position: center;
    display: block; /* Cambia la visualización a bloque para que ocupen toda la anchura disponible */
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 50%;
    color: #100f0f;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 25px;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos alineándolos en los extremos */
    align-items: center; /* Alinea verticalmente los elementos */
    padding-left: 35%;
    padding-right: 35%;
}

footer p {
    margin: 0; /* Elimina el margen predeterminado */
}

footer a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Hereda el color del texto del elemento padre (footer) */
}

footer .copyright {
    text-align: right; /* Alinea el texto a la derecha */
}
