body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #e5e0e0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    padding-left: 5%;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

/* Estilos para el título principal */
.main-title {
    font-size: 1.3em; /* Tamaño de fuente para el título principal */
}

/* Estilos para el subtítulo */
.subtitle {
    font-size: 0.7em; /* Tamaño de fuente para el subtítulo */
    color: #888; /* Color de texto más claro para el subtítulo */
    padding-left: 7px;
}

nav {
    text-align: right;
    padding-right: 3%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 11px;
}

nav ul li {
    display: inline;
    padding-right: 30px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #e5e0e0;
    text-decoration: none;
    font-family: "Arial", sans-serif; /* Cambia "Arial" por la fuente deseada */
}

main {
    padding-top: 0px; /* Ajusta el espacio superior para que no esté oculto por el encabezado */
}

.section {
    height: 100vh; /* Establece la altura de cada sección al 100% del viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

#section1 {
    background-image: url('../img/fondo-seccion1.jpg');
    background-size: cover;
    background-position: center;
    padding-left: 5%;
    padding-right: 50%;
}

#section1 .content-wrapper {
    color: #e5e0e0;
    padding: 0px 10px; /* Añade un relleno alrededor del texto para simular un borde */
    background-color: rgba(0, 0, 0, 0.17); /* Agrega un color de fondo para el relleno */
    border-radius: 10px; /* Aplica bordes redondeados */
}

#section2 {
    height: 300px;
    padding-top: 100px;
    padding-left: 50%;
    padding-right: 5%;
}

#section3 {
    height: 300px;
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 50%;
    color: #100f0f;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 150px;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos alineándolos en los extremos */
    align-items: center; /* Alinea verticalmente los elementos */
    padding-left: 35%;
    padding-right: 35%;
}

footer p {
    margin: 0; /* Elimina el margen predeterminado */
}

footer a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Hereda el color del texto del elemento padre (footer) */
}

footer .copyright {
    text-align: right; /* Alinea el texto a la derecha */
}
